/*All content is just filler for now and not final*/

body {
    height: 100%;
    background-color: darkolivegreen;
    text-align: center;
}

header {
    text-align: center;
}

header h1 {
    text-align: center;
    color: saddlebrown;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

header p {
    font-size: medium;
}

main {
    text-align: center;
}

#dog-image {
    text-align: center;
}

#quote-one {
    text-align: center;
}

#quote-one h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#quote-one p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

aside {
    font-style: italic;
}
