* {
    font-family: 'Raleway', sans-serif;
}
body {
    height: 100%;
    background-color: #cdeced;
    text-align: center;
}

header {
    text-align: center;
}

header h1 {
    text-align: center;
    color: #ff5353;
    font-size: 72px;
    font-weight: 600;
}

header p {
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
}

main {
    text-align: center;
}

#dog-image {
    text-align: center;
}

img {
    max-width: 75%;
    height: auto;
    border-radius: 25px;
}

#quote-one {
    text-align: center;
}

#quote-one h2{
    color: darkslategrey;
    font-weight: 600;
    font-size: 30px;
}

#quote-one p {
    font-weight: 300;
    font-size: 24px;
    
}

aside {
    font-style: italic;
}


/*=====Style by Andrew=====*/
aside {
    max-width: 640px;
    margin: auto;
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column-reverse !important;
}

aside div {
    background-color: #FFFFFF;
    margin: 12px 0;
    display: flex;
    align-items: center;
    border-radius: 72px;
    cursor: pointer;
}

aside div img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
}

aside div p {
    text-align: left;
    font-size: 18px;
    margin: 0 12px;
    width: 492px;
    font-weight: bold;
}
