/*All content is just filler for now and not final*/

body {
    height: 100%;
    background-color: #cdeced;
    text-align: center;
}

header {
    text-align: center;
}

header h1 {
    text-align: center;
    color: saddlebrown;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

header p {
    font-size: medium;
}

main {
    text-align: center;
}

#dog-image {
    text-align: center;
}

img {
    max-width: 75git %;
    height: auto;
}

#quote-one {
    text-align: center;
}

#quote-one h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#quote-one p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

aside {
    font-style: italic;
}


/*=====Style by Andrew=====*/
aside {
    max-width: 640px;
    margin: auto;
}

aside div {
    background-color: #FFFFFF;
    margin: 12px 0;
    display: flex;
    align-items: center;
    border-radius: 72px;
    cursor: pointer;
}

aside div img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
}

aside div p {
    text-align: left;
    font-size: 18px;
    margin: 0 12px;
    width: 492px;
    font-weight: bold;
}
